### [ 파일 입력과 출력 ]<hr>
- pandas.read_xxx() : 다양한 포맷의 파일 ==> dataFrame으로 변환
    * 파일 종류에 따라서 변환 시 설정 필요함

- pandas.to_xxx() : DataFrame ===> 다양한 포맷 str 또는 file로 변환

In [14]:
## [1] 모듈 로딩
import pandas as pd         # 데이터분석 모듈
import os                   # 파이썬 내장 모듈, 경로, 폴더, 시스템 관련 처리 모듈
import glob                 # 유닉스 운영체제 스타일의 파일, 폴더 경로 처리 모듈

In [15]:
## [2] 데이터 준비 - 일반 csv 파일
DATA_DIR = '../Data'

## 폴더내 파일명을 리스트에 담아서 반환
FILE_LIST = os.listdir(DATA_DIR)
print(FILE_LIST)

## 파일경로 + 파일명
FILE_NAME = f'{DATA_DIR}/{FILE_LIST[0]}'

print(FILE_NAME)

['auto_mpg.csv', 'data01.csv', 'data02.csv', 'hello.html', 'housing.csv', 'iris.csv', 'no_comma.csv', 'no_head.csv', 'test.csv', 'test.json', 'test.txt', 'titanic.csv', 'titanic_train.csv', '남북한발전전력량.xlsx', '학생관리부.xlsx']
../Data/auto_mpg.csv

In [ ]:
## [2] 데이터 준비 - 일반 csv 파일

## 폴더내 파일명을 리스트에 담아서 반환
## *.* 의미 : 모든 파일명.모든확장자
FILE_LIST = glob.glob(f'{DATA_DIR}/*.*')
print(FILE_LIST)

FILE_LIST = glob.glob(f'{DATA_DIR}/*.csv')
print(FILE_LIST)

FILE_LIST = glob.glob(f'{DATA_DIR}/*.xml')
print(FILE_LIST)

FILE_LIST = glob.glob(f'{DATA_DIR}/*.csv')
print(FILE_LIST)

['../Data\\auto_mpg.csv', '../Data\\data01.csv', '../Data\\data02.csv', '../Data\\hello.html', '../Data\\housing.csv', '../Data\\iris.csv', '../Data\\no_comma.csv', '../Data\\no_head.csv', '../Data\\test.csv', '../Data\\test.json', '../Data\\test.txt', '../Data\\titanic.csv', '../Data\\titanic_train.csv', '../Data\\남북한발전전력량.xlsx', '../Data\\학생관리부.xlsx']
['../Data\\auto_mpg.csv', '../Data\\data01.csv', '../Data\\data02.csv', '../Data\\housing.csv', '../Data\\iris.csv', '../Data\\no_comma.csv', '../Data\\no_head.csv', '../Data\\test.csv', '../Data\\titanic.csv', '../Data\\titanic_train.csv']
[]
['../Data\\iris.csv']

In [25]:
## [3] csv --> df으로 변환
FILE_NAME = f'{DATA_DIR}/{FILE_LIST[0]}'
## 앞부분 일부 데이터 제거하고 가져오기 : skiprows = 51
csvDF = pd.read_csv(FILE_NAME, skiprows=51, header=None)

## 출력
csvDF

      0    1    2    3           4
0   7.0  3.2  4.7  1.4  Versicolor
1   6.4  3.2  4.5  1.5  Versicolor
2   6.9  3.1  4.9  1.5  Versicolor
3   5.5  2.3  4.0  1.3  Versicolor
4   6.5  2.8  4.6  1.5  Versicolor
..  ...  ...  ...  ...         ...
95  6.7  3.0  5.2  2.3   Virginica
96  6.3  2.5  5.0  1.9   Virginica
97  6.5  3.0  5.2  2.0   Virginica
98  6.2  3.4  5.4  2.3   Virginica
99  5.9  3.0  5.1  1.8   Virginica

[100 rows x 5 columns]

In [26]:
## [3] csv --> df으로 변환

## 끝부분 일부 데이터 제거하고 가져오기 : skipfooter = 50
##                   추가로 엔진설정 : engine='python'
csvDF = pd.read_csv(FILE_NAME, skipfooter=50, engine='python')

## 출력
csvDF

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.1          3.5           1.4          0.2      Setosa
1            4.9          3.0           1.4          0.2      Setosa
2            4.7          3.2           1.3          0.2      Setosa
3            4.6          3.1           1.5          0.2      Setosa
4            5.0          3.6           1.4          0.2      Setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

[100 rows x 5 columns]

In [32]:
## [5] 데이터 준비 - 특정 컬럼을 행인덱스 설정
FILE_NAME = '../Data/test2.csv'

## 날짜/시간 str로 object 타입 ==> dataetime64[ns] 타입 변환
csvDF = pd.read_csv(FILE_NAME, sep=" ", parse_dates=['DATE'])

print(csvDF, csvDF.dtypes, sep="\n\n")

        DATE CH  NUM  NO   AVG
0 2025-10-01  A  111  20  3.40
1 2020-03-09  c   12  12  2.10
2 2000-12-25  Z    3  11  9.70
3 1999-11-21  a    4   9  0.12
4 2025-10-23  F   51  31  9.99

DATE    datetime64[ns]
CH              object
NUM              int64
NO               int64
AVG            float64
dtype: object

In [ ]:
## [6] 데이터 준비 - 일부 컬럼만 DataFrame으로 저장
FILE_NAME = '../Data/test.csv'

## 원하는 컬럼만 가져오기
## usescols 매개변수 -> usescols = ['컬럼명1', '컬럼명2']
##                  -> usescols = [정수, 정수]

csvDF = pd.read_csv(FILE_NAME, usecols=['c1', 'c2'])
csvDF2 = pd.read_csv(FILE_NAME, usecols=[1,2])


## 출력
display(csvDF, csvDF2, sep="\n\n")

   c1  c2
0   9   8
1   4   7
2   2   9
3   8   9

   c1  c2
0   9   8
1   4   7
2   2   9
3   8   9